@import 'variables';
@import 'mixins';

#about-page {
    section {
        padding:50px 0;
        .section-link {
            color:#111;
            text-decoration:none;
            font-weight:$fw-semibold;
            display:inline-block;
            &:after {
                content: " ⟶"
            }
        }
    }
    section.top-banner-section {
        background:black;
        color:#fff;
        .lo-container {
            display: flex;
            justify-content: flex-end;
        }
        h1 {
            max-width:450px;
            padding:80px 0;
            color:#fff;
            @include font-size(30, 35);
            font-weight:$fw-light;
            strong {
                font-weight:$fw-semibold;
            }
        }
    }
    section.stats-section {
        background-color:#8A89C0;
        background-image:image-url('stats-background.png');
        background-repeat:no-repeat;
        background-size:cover;
        .hexes {
            display:flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 auto;
            max-width: 750px;

            @include width-medium() {
                padding:0 70px;
                padding-top:30px;
            }

            .hex {
                color:#fff;
                text-align:center;
                background-repeat:no-repeat;
                background-size:contain;
                background-position:center;
                display: flex;
                flex-direction: column;
                justify-content: center;

                @include width-smaller-than-medium() {
                    width:30%;
                    padding:20px;
                    border-right:1px solid #fff;
                    margin-bottom:20px;
                    &:nth-child(3n+3),
                    &:last-child{ border-right:0 }
                }

                @include width-medium() {
                    width:130px;
                    height:130px;
                    background-image:image-url('stats-hex.png');
                    padding:20px;
                    margin:10px;
                    margin-top:-30px;
                }

                .value {
                    @include font-size(25, 25);
                    margin-bottom:5px;
                    font-weight:$fw-semibold;
                }
                .label {
                    @include font-size(14, 15);
                }
            }
        }
        p {
            margin-top:20px;
            @include font-size(16, 16);
            text-align:center;
            color:#fff;
        }
    }

    section.vision-section,
    section.supporters-section,
    section.methodology-section,
    section.story-section {
        @include width-medium() {
            .lo-container {
                display:flex;
                align-items: center;
            }
        }

        p {
            @include font-size(15, 19);
            margin-bottom:10px;
        }

    }
    section.supporters-section,
    section.methodology-section,
    section.story-section {
        margin-bottom:0;
        @include width-medium() {
            border-bottom:none !important;
        }

        h2 {
            @include font-size(20, 20);
            font-weight:$fw-semibold;
            margin-bottom:10px;
        }
    }
    section.vision-section {
        .info {
            margin-bottom:50px;
            @include width-medium() {
                margin-bottom:0px;
            }
        }
        h2 {
            color:$color-2;
            font-weight:$fw-bold;
            @include font-size(22, 27);
            margin-bottom:10px;
        }
        p {
            strong {
                font-weight:$fw-bold;
            }
        }
        .quote {
            display:flex;
            flex-direction:column;
            justify-content:center;

            @include width-medium() {
                min-width:500px;
                padding-left:100px;
            }

            .text {
                display:flex;
                i {
                    @include font-size(20, 20);
                    margin-right:10px;
                }
            }
            .byline {
                margin-top:10px;
                text-align:right;
            }
        }
    }
    section.supporters-section {
        border-bottom:1px solid #eee;

        .pure-button {
            background:$color-2;
        }

        .info {
            margin-bottom:40px;
            @include width-medium() {
                max-width:50%;
                margin-bottom:0;
            }
        }

        .current {
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include width-medium() {
                min-width:500px;
                padding-left:100px;
            }

            h3 {
                font-weight:$fw-semibold;
            }
            a.logo {
                width:200px;
                display:block;
                margin-top:10px;
                img {
                    display:block;
                    width:100%;
                }
            }
            .your-organisation-here {
                border:2px dashed $color-2;
                padding:15px;
                color:$color-2;
                text-decoration:none;
                font-weight:$fw-bold;
                margin-top:20px;
                max-width:200px;
                text-align:center;
            }
        }
    }

    section.methodology-section {
        border-bottom:1px solid #eee;

        .info {
            @include width-medium() {
                padding-left:50px;
            }
        }
        table {
            th {
                color: $color-2;
                padding:20px 10px;
                border-right:1px solid #ddd;
                border-bottom:1px solid #ddd;
                text-align:center;
            }
            td {
                border:1px solid #ddd;
                padding:10px;
                @include font-size(14, 16);
                text-align:center;
                color:#666;
            }

            td,
            th {
                &:first-child {
                    border-left:none;
                }
                &:last-child {
                    border-right:none;
                }
            }
            tr:last-child {
                td {
                    border-bottom:none;
                }
            }
        }
    }

    section.story-section {
        .content {
            margin-bottom:50px;

            @include width-medium() {
                margin-bottom:0;
            }
        }

        img {
            display:block;
            width:100%;

            @include width-medium() {
                min-width:500px;
                padding-left:100px;
            }
        }
    }
}
