=stylesheet_link_tag '//fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900&display=swap'

#about-page.lo-organisation-page
  =render "organisation_menu", selected: "about"

  %section.organisation-top-banner-section
    .lo-container
      .inner
        %h1
          %strong We are a not-for-profit organisation
          providing opportunity through programming education

  %section.vision-section
    .lo-container
      .info
        %h2 Developing programming skills is fun and empowering. It is also a powerful route for economic and social mobility.
        %p 
          Exercism aims to provide opportunity for people of 
          %strong all backgrounds 
          by helping them develop their programming skills through practice and mentorship. We provide thousands of exercises spread across over 50 language tracks, and offer both 
          %strong automated and human mentoring.
        %p Our current platform is targeted at people with some programming experience who want to deepen their knowledge or learn new languages. In time, we will also offer support for total beginners.
        %p
          Exercism is
          %strong 100% free.
          It is entirely
          %strong open source
          and relies on the contributions of
          %strong thousands of volunteers.
          Our platform is designed to be fun and friendly, and we place a strong emphasis on empathetic communication.
        =link_to "Learn more about our vision", "#", class: 'section-link'
      .quote
        .text
          %i.fa.fa-quote-left
          .copy Exercism is a great gift to the programming community and I hope when I finally achieve my Rock Star status I won’t forget to give back and do my own bit of mentoring.
        .byline - Dr Moxie

  %section.stats-section
    .lo-container
      .hexes
        .hex
          .value 1.4m
          .label solutions submitted
        .hex
          .value 236k
          .label conversations
        .hex
          .value 330k
          .label users in 220 countries
        .hex
          .value 50
          .label programming langugages
        .hex
          .value 2.5k
          .label mentors in 29 timezones
        .hex
          .value 53k
          .label git commits
        .hex
          .value 3.6k
          .label contributions

      %p Created by volunteers. Grown purely through word of mouth.

  %section.supporters-section
    .lo-container
      .info
        %h2 Supporters
        %p Exercism relies on both the generosity of individuals with their time, and the generosity of organisations to financially support us. 
        %p While much of Exercism is run by our volunteer community, the website and core infrastructure are managed by a full-time team. We also undertake specific larger projects, such as the development of our automated analyzers, which require a committed team working more intensely on something over a fixed period of time. 
        %p In order to fund this core team and these products we rely on grant funding from companies or organisation that wish to contribute to our vision of helping providing free programming education for everyone.
        =link_to "Learn more about how you can support us ⟶", supporters_page_path, class: 'pure-button'
      .current
        %h3 Current supporters
        =link_to image_tag("supporter-logos/sloan-black.png"), supporter_sloan_page_path, class: 'logo'
        =link_to image_tag("supporter-logos/mozilla-black.png"), supporter_mozilla_page_path, class: 'logo'
        =link_to image_tag("supporter-logos/thalamus-black.png"), supporter_thalamus_page_path, class: 'logo'
        =link_to "Your Organisation Here", "#", class: "your-organisation-here"

  %section.methodology-section
    .lo-container
      %table
        %tr
          %th Decisions
          %th Leadership
          %th Execution
        %tr
          %td Prioritise vision over money
          %td Grounded in learning theory
          %td Community sourced feedback
        %tr
          %td Prioritise vision over money
          %td Grounded in learning theory
          %td Community sourced feedback
        %tr
          %td Prioritise vision over money
          %td Grounded in learning theory
          %td Community sourced feedback

      .info
        %h2 How we work
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        =link_to "Read Exercism’s strategy", "#", class: 'section-link'

  %section.story-section
    .lo-container
      .content
        %h2 Our story
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        =link_to "More on our story", "#", class: 'section-link'
      .map
        =image_tag "photo-map.png"
