=stylesheet_link_tag '//fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900&display=swap'

#supporters-page.lo-organisation-page
  =render "organisation_menu", selected: "supporters"

  %section.organisation-top-banner-section
    .lo-container
      .inner
        %h1 
          .subtitle Lorem ipsum lorem ipsum:
          .strong Our supporters

  %section.introduction-section
    .lo-container
      =image_tag "organisation-supporters-icon.png"
      %h2 Support from our funders is crucial to achieving Exercism's goals
      %p
        While much of Exercism is run by our volunteer community, the website and core infrastructure are managed by a full-time team. We also undertake specific larger projects, such as the development of our automated analyzers, which require a committed team working more intensely on something over a fixed period of time.
        In order to fund this core team and these products we rely on grant funding from companies or organisation that wish to contribute to our vision of helping providing free programming education for everyone.

      .support-box
        .cta Want to discuss how you can help Exercism?
        =link_to "Email us", "mailto:jeremy@exercism.io", class: 'pure-button'

  %section.current-supporters-section
    .lo-container
      %h2 Current supporters
      .supporter
        =link_to image_tag("supporter-logos/sloan-black.png"), supporter_sloan_page_path
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        =link_to "Learn more", "#", class: 'section-link'

      .supporter
        =link_to image_tag("supporter-logos/mozilla-black.png"), supporter_mozilla_page_path
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        =link_to "Learn more", "#", class: 'section-link'

      .supporter
        =link_to image_tag("supporter-logos/thalamus-black.png"), supporter_thalamus_page_path
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        =link_to "Learn more", "#", class: 'section-link'
